<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Protocolos de Redes</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <h1>Blog de Protocolos de Redes</h1>
    <div id="postsContainer"></div>
    <a href="postForm.html">Agregar Nuevo Post</a>

    <!-- Scripts del controlador y Firebase -->
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js";
      import { getFirestore, doc, getDoc } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-firestore.js";

      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyAyIekq5Z-6OpZk07mr7WoBY7N66q7EFKQ",
        authDomain: "proyectoredes-eb3cf.firebaseapp.com",
        projectId: "proyectoredes-eb3cf",
        storageBucket: "proyectoredes-eb3cf.firebasestorage.app",
        messagingSenderId: "330783118613",
        appId: "1:330783118613:web:65bbf9e437364435dd851c",
        measurementId: "G-Q74BRW21M5"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const db = getFirestore(app);

      // Referencia al contenedor donde se mostrarán los datos
      const postsContainer = document.getElementById('postsContainer');

      // Función para obtener y mostrar los datos del documento 'blog'
      async function loadBlogData() {
        try {
          const docRef = doc(db, 'blog', 'blog');
          const docSnap = await getDoc(docRef);

          if (docSnap.exists()) {
            const blogData = docSnap.data();
            const postElement = document.createElement('div');
            postElement.innerHTML = `
            <h2>Protocolo SSH</h2>
            <p>Secure Shell</p>
            <h2>Protocolo FTP</h2>
            <p>File Transfer Protocol</p>

            `;
            postsContainer.appendChild(postElement);
          } else {
            console.log("El documento no existe.");
          }
        } catch (error) {
          console.error("Error obteniendo el documento: ", error);
        }
      }

      // Llamar a la función para cargar los datos al cargar la página
      loadBlogData();
    </script>
</body>
</html>
